<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Add New Product</h1>
    <form action="/products/add-product" method="POST">
      <div>
        <label for="name">Product Name:</label>
        <input type="text" name="name" id="name" required />
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required />
      </div>
      <div>
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" required />
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea>
      </div>
      <div>
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" required />
      </div>
      <div>
        <label for="image">Image URL:</label>
        <input type="text" name="imageUrl" id="imageUrl" required />
      </div>
      <div>
        <button type="submit">Add Product</button>
      </div>
    </form>
  </body>
</html>
